body{
	background-image: url('https://c8.alamy.com/comp/DX9ATK/old-blank-paper-and-two-rose-flowers-grunge-vintage-background-DX9ATK.jpg');
}
a{
			font-size: 24px;
			margin-right: 30px;
			margin-bottom: 20px;
			padding: 10px;
		}
		p{
			/*border-style: solid;
			border-color: red;
			border-width: 1px;*/
			border:2px solid green;
			border-radius: 5px;
			margin: 5px;
			padding: 20px;
		}
		div{
			background-color: #F0DB93;
		}